.run_button, .home_button, .execution_time, .python_version, .code, .output{
    border-radius: 5px;
}

.run_button, .home_button, .execution_time, .python_version{
    margin-bottom: 3px;
}

.execution_time {
    width: 160px;
    text-align:center;
}

.python_version {
    width: 140px;
    text-align:center;
}

.code {
    width: 100%;
    height: 70vh;
    font-size: 130%;
}

.output {
    width: 100%;
    height: 20vh;;
}
