<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online code interview</title>
    <link href="{{ url_for('static', path='/images/favicon.ico') }}" rel="icon" type="image/x-icon">
</head>
<body>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="g_id_onload"
     data-client_id="{{ GOOGLE_CLIENT_ID }}"
     data-context="signin"
     data-login_uri="http://{{ DOMAIN }}/google/auth">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-locale="en"
     data-logo_alignment="left">
</div>
</body>
</html>
