<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online code interview</title>
    <link href="{{ API_PROTOCOL }}://{{ DOMAIN }}/static/images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="{{ API_PROTOCOL }}://{{ DOMAIN }}/static/css/editor.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <button id="goToEditor" onclick="goToEditor()">Start editor</button>
</div>
<script>
    function goToEditor() {
        location.href = "{{ API_PROTOCOL }}://{{ DOMAIN }}/sessions/{{ SESSION_ID }}/";
    }
</script>
</body>
</html>
